body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C2A3F;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
